## Week 1
What is Data Science?

 - Coding Skills/Statistics/Domain Expertise
 - The Data Science Process
 - Examples of Data Science in the world

**Coding tasks:** Create a new Jupyer Notebook to complete the following tasks.

A dataset containing information on US hospitals is contained in the data folder in the file `Hospitals.csv`. This datset was downloaded from [the Homeland Infrastructure Foundation-Level Data (HIFLD) database](https://hifld-geoplatform.opendata.arcgis.com/datasets/hospitals/explore).

1. Read this dataset into a DataFrame named `hospitals`.
2. Look at the first few rows and then look at the last few. What do you notice?
3. How many rows and columns does this DataFrame have?
4. We don't need all of the columns. Slice the dataframe down so that it only contains the following columns: 'NAME', 'ADDRESS', 'CITY', 'STATE', 'TYPE',  'POPULATION', 'COUNTY', 'COUNTYFIPS', 'NAICS_DESC', 'BEDS'
5. What are the different hospital types (contained in the `TYPE` column)? Which is the most common?
6. Find all hospitals in Nashville, Tennessee. Take a look at the BEDS column. What do you notice? Why do you think this is?
7. Which county in Tennessee has the most hospitals?
8. There are 95 counties in Tennessee. How many of them have no hospitals at all?

In [1]:
import pandas as pd

#1: Read in dataset

In [2]:
df = pd.read_csv('../data/Hospitals.csv')

#2: Look at first and last rows

#2 observations: <br>
There are 34 columns of data. For missing values, NOT AVAILABLE and -999 both appear to be used. The hospital dataset has an ID and OBJECT ID for each entry, along with an address, city, state and ZIP. The data appears to use dates from feb 2014 to may 2020, and supplies various info about the hospital including available beds, available specialties and capabilities. There is an X and Y value for each, the description of which is not immediately obvious.

In [3]:
df.head(3)

,X,Y,OBJECTID,ID,NAME,ADDRESS,CITY,STATE,ZIP,ZIP4,...,VAL_DATE,WEBSITE,STATE_ID,ALT_NAME,ST_FIPS,OWNER,TTL_STAFF,BEDS,TRAUMA,HELIPAD
0,-1.331889e+07,4.346975e+06,1,5793230,CENTRAL VALLEY GENERAL HOSPITAL,1025 NORTH DOUTY STREET,HANFORD,CA,93230,NOT AVAILABLE,...,2014/02/10 00:00:00,http://www.hanfordhealth.com,NOT AVAILABLE,NOT AVAILABLE,6,PROPRIETARY,-999,49,NOT AVAILABLE,N
1,-1.322651e+07,4.049626e+06,2,53391362,LOS ROBLES HOSPITAL & MEDICAL CENTER - EAST CA...,150 VIA MERIDA,WESTLAKE VILAGE,CA,91362,NOT AVAILABLE,...,2014/02/10 00:00:00,http://www.losrobleshospital.com,NOT AVAILABLE,NOT AVAILABLE,6,PROPRIETARY,-999,62,NOT AVAILABLE,N
2,-1.315620e+07,4.031978e+06,3,11190023,EAST LOS ANGELES DOCTORS HOSPITAL,4060 WHITTIER BOULEVARD,LOS ANGELES,CA,90023,NOT AVAILABLE,...,2014/02/10 00:00:00,http://www.elalax.com,NOT AVAILABLE,NOT AVAILABLE,6,PROPRIETARY,-999,127,NOT AVAILABLE,N

In [4]:
df.tail(3)

,X,Y,OBJECTID,ID,NAME,ADDRESS,CITY,STATE,ZIP,ZIP4,...,VAL_DATE,WEBSITE,STATE_ID,ALT_NAME,ST_FIPS,OWNER,TTL_STAFF,BEDS,TRAUMA,HELIPAD
7593,-8.084677e+06,5.094112e+06,7609,196706457,WHITING FORENSIC HOSPITAL,70 OBRIEN DR,MIDDLETOWN,CT,6457,3945,...,2020/05/08 00:00:00,https://portal.ct.gov/dmhas/wfh/whiting-forens...,NOT AVAILABLE,NOT AVAILABLE,9,GOVERNMENT - STATE,-999,229,NOT AVAILABLE,N
7594,-8.522423e+06,4.718512e+06,7610,191021401,J KENT MCNEW FAMILY MEDICAL CENTER,175 HARRY S TRUMAN PARKWAY,ANNAPOLIS,MD,21401,NOT AVAILABLE,...,2020/05/05 00:00:00,https://aahs.org/locations/j--kent-mcnew-famil...,NOT AVAILABLE,NOT AVAILABLE,24,NON-PROFIT,-999,-999,NOT AVAILABLE,N
7595,-1.244921e+07,4.976468e+06,7611,196784108,UNIVERSITY ORTHOPAEDIC CENTER,590 WAKARA WAY,SALT LAKE CITY,UT,84108,NOT AVAILABLE,...,2020/05/05 00:00:00,https://healthcare.utah.edu/orthopaedics/,NOT AVAILABLE,NOT AVAILABLE,49,GOVERNMENT - STATE,-999,-999,NOT AVAILABLE,N

#3: The "Hospitals" dataset has 7,596 rows and 34 columns

In [5]:
df.shape

(7596, 34)

#4: Datasets can be sliced by choosing the list of column names to be retained

In [6]:
df_sub = df[['NAME', 'ADDRESS', 'CITY', 'STATE', 'TYPE', 'POPULATION', 'COUNTY', 'COUNTYFIPS', 'NAICS_DESC', 'BEDS']]

In [7]:
df_sub.shape

(7596, 10)

#5: What are the different hospital types (contained in the TYPE column)? Which is the most common?  <br> 
General Acute Care is the most common, with over 4,481 listed.

In [8]:
df_sub['TYPE'].unique()

array(['GENERAL ACUTE CARE', 'PSYCHIATRIC', 'CHILDREN', 'LONG TERM CARE',
       'CRITICAL ACCESS', 'REHABILITATION', 'MILITARY', 'WOMEN',
       'SPECIAL', 'CHRONIC DISEASE'], dtype=object)

In [9]:
df_sub['TYPE'].value_counts()

GENERAL ACUTE CARE    4481
CRITICAL ACCESS       1027
PSYCHIATRIC            759
LONG TERM CARE         431
REHABILITATION         378
MILITARY               216
SPECIAL                145
CHILDREN               130
WOMEN                   20
CHRONIC DISEASE          9
Name: TYPE, dtype: int64

#6: Find all hospitals in Nashville, Tennessee. Take a look at the BEDS column. What do you notice? Why do you think this is? <br>
There are 13 hospitals listed in Nashville. THE WOMEN'S HOSPITAL AT CENTENNIAL has the value -999 in BEDS. This is likely being used as a missing value.

In [18]:
df_sub_Nash = df_sub.loc[(df_sub['CITY'] == 'NASHVILLE') & (df_sub['STATE']=='TN')]

In [19]:
df_sub_Nash.shape

(13, 10)

In [20]:
df_sub_Nash

,NAME,ADDRESS,CITY,STATE,TYPE,POPULATION,COUNTY,COUNTYFIPS,NAICS_DESC,BEDS
545,TRISTAR SKYLINE MEDICAL CENTER,3441 DICKERSON PIKE,NASHVILLE,TN,GENERAL ACUTE CARE,213,DAVIDSON,47037,GENERAL MEDICAL AND SURGICAL HOSPITALS,213
3449,SELECT SPECIALTY HOSPITAL - NASHVILLE,"2000 HAYES STREET, SUITE 500",NASHVILLE,TN,LONG TERM CARE,70,DAVIDSON,47037,SPECIALTY (EXCEPT PSYCHIATRIC AND SUBSTANCE AB...,70
3485,CURAHEALTH NASHVILLE,"1412 COUNTY HOSPITAL ROAD, B-1",NASHVILLE,TN,LONG TERM CARE,60,DAVIDSON,47037,SPECIALTY (EXCEPT PSYCHIATRIC AND SUBSTANCE AB...,60
5429,THE WOMEN'S HOSPITAL AT CENTENNIAL,2221 MURPHY AVENUE,NASHVILLE,TN,WOMEN,-999,DAVIDSON,47037,SPECIALTY (EXCEPT PSYCHIATRIC AND SUBSTANCE AB...,-999
5433,METROPOLITAN NASHVILLE GENERAL HOSPITAL,1818 ALBION STREET,NASHVILLE,TN,GENERAL ACUTE CARE,150,DAVIDSON,47037,GENERAL MEDICAL AND SURGICAL HOSPITALS,150
6289,SAINT THOMAS MIDTOWN HOSPITAL,2000 CHURCH STREET,NASHVILLE,TN,GENERAL ACUTE CARE,683,DAVIDSON,47037,GENERAL MEDICAL AND SURGICAL HOSPITALS,683
6293,VANDERBILT STALLWORTH REHABILITATION HOSPITAL,2201 CHILDREN'S WAY,NASHVILLE,TN,REHABILITATION,80,DAVIDSON,47037,"REHABILITATION HOSPITALS (EXCEPT ALCOHOLISM, D...",80
6661,VA MEDICAL CENTER - NASHVILLE CAMPUS,1310 24TH AVE S,NASHVILLE,TN,MILITARY,493,DAVIDSON,47037,GENERAL MEDICAL AND SURGICAL HOSPITALS,493
6774,SAINT THOMAS HOSPITAL FOR SPECIALTY SURGERY,2011 MURPHY AVENUE,NASHVILLE,TN,GENERAL ACUTE CARE,23,DAVIDSON,47037,GENERAL MEDICAL AND SURGICAL HOSPITALS,23
6777,SAINT THOMAS WEST HOSPITAL,4220 HARDING ROAD,NASHVILLE,TN,GENERAL ACUTE CARE,541,DAVIDSON,47037,GENERAL MEDICAL AND SURGICAL HOSPITALS,541
6786,TRISTAR SOUTHERN HILLS MEDICAL CENTER,391 WALLACE ROAD,NASHVILLE,TN,GENERAL ACUTE CARE,126,DAVIDSON,47037,GENERAL MEDICAL AND SURGICAL HOSPITALS,126
6808,TRISTAR CENTENNIAL MEDICAL CENTER,2300 PATTERSON STREET,NASHVILLE,TN,GENERAL ACUTE CARE,733,DAVIDSON,47037,GENERAL MEDICAL AND SURGICAL HOSPITALS,733
6813,VANDERBILT UNIVERSITY HOSPITAL,1211 MEDICAL CENTER DRIVE,NASHVILLE,TN,GENERAL ACUTE CARE,1091,DAVIDSON,47037,GENERAL MEDICAL AND SURGICAL HOSPITALS,1091

In [21]:
df_sub_Nash[['BEDS']]

      BEDS
545    213
3449    70
3485    60
5429  -999
5433   150
6289   683
6293    80
6661   493
6774    23
6777   541
6786   126
6808   733
6813  1091

#7: Which county in Tennessee has the most hospitals? <br>
Shelby County has the most hospitals.

In [14]:
df_sub_TN = df_sub.loc[df_sub['STATE'] == 'TN']

In [25]:
df_sub_TN['COUNTY'].value_counts()

SHELBY        23
DAVIDSON      15
HAMILTON      13
KNOX          11
WASHINGTON     6
              ..
TIPTON         1
GILES          1
MARSHALL       1
MONROE         1
SEVIER         1
Name: COUNTY, Length: 80, dtype: int64

#8: There are 95 counties in Tennessee. How many of them have no hospitals at all? <br>15 counties have no hospital.

In [16]:
df_sub_TN['COUNTY'].nunique()

80

In [17]:
95-80

15